*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.main{
  height: 100vh;
  width: 100vw;
  background-color: bisque;
  padding: 50px 0;
}
.search-container{
  width: 600px;
  max-width: 90vw;
  margin: 0 auto;
}
.main-title{
  margin: 0 auto;
}
.search-area{
  margin: 50px auto;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 20px;
}
.search-area input{
  width: 100%;
  outline: none;
  border: 0;
  background-color: transparent;
  padding: 5px 10px;
}

.results-area{

}
.results-area>h3{
  margin-top: 50px;
}
ul{
  border: 2px solid gray;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
}

li{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  margin: 10px 0;
}
li img{
  width: 100px;
}
li div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 25px;
}